# Pandas の操作

## 基本的な使い方

DataFrame を作成する /　pd.DataFrame(配列)

In [117]:
import pandas as pd

columns  = ["国語", "数学", "英語"]
index = ["A太","B介","C子"] 

data = [
    [60,65,66], 
    [80,85,88], 
    [100,100,100]
]
df = pd.DataFrame(data)
# df.columns = columns
# df.index = index

df

     0    1    2
0   60   65   66
1   80   85   88
2  100  100  100

In [118]:
df = pd.DataFrame(data, columns=columns, index=index)
df

     国語   数学   英語
A太   60   65   66
B介   80   85   88
C子  100  100  100

In [119]:
# ファイルからの読み込み
import pandas as pd
df = pd.read_csv("../testSJIS.csv", encoding="Shift_JIS", index_col=0)
df

     国語  数学  英語  学生番号
名前
A太   83  89  76  A001
B介   66  93  75  B001
C子  100  84  96  B002
D郎   60  73  40  A002
E美   92  62  84  C001
F菜   96  92  94  C002

## DataFrame を把握する

In [120]:
print(df.index)
print(df.columns)
print(df.dtypes)
print(len(df.dtypes))

Index(['A太', 'B介', 'C子', 'D郎', 'E美', 'F菜'], dtype='object', name='名前')
Index(['国語', '数学', '英語', '学生番号'], dtype='object')
国語       int64
数学       int64
英語       int64
学生番号    object
dtype: object
4

## 要素を取り出す

In [121]:
print(df.iloc[0,1])
print(df.iloc[1]["国語"])

89
66

## 列を取り出す

In [122]:
dfKS = df[["国語","数学"]]
dfKS # index付き

     国語  数学
名前
A太   83  89
B介   66  93
C子  100  84
D郎   60  73
E美   92  62
F菜   96  92

## 検索する

In [123]:
# df.loc[条件]
excellence = dfKS.loc[(dfKS["国語"] > 80) &  (dfKS["数学"] > 80)]
excellence

     国語  数学
名前
A太   83  89
C子  100  84
F菜   96  92